/* ==== Home Style ==== */
    /* Navbar */

    .main{
        background-color: #005DE0;
        padding: 2px;
    }

    .main hr{
        background-color: #FFFFFF;
        padding: 0;
        margin: 0;
    }

    .navbar-color{
        background-color: #005DE0;
        border-bottom-color: #FFFFFF;
    }

    .navbar-links{
        color: #FFF;
    }

    .navbar-btn a:hover{
        color: #FFFFFF;
        text-decoration: none;
    }

    .desc{
        background-color: #005DE0;
        color: #FFFFFF;
    }

    .section1{
        margin: 20px 0 0 25px;
    }

    .section1 hr{
        padding: 0;
        margin: 0;
    }

    .section1 h3 a{
        text-decoration: none;
    }

    .section1 h3 a:link{
        color: #005DE0;
    }

    .trending{
        width: 750px;
    }

/* ==== Login ==== */
.login, .cadastro{
    border: 1px solid #000;
    width: 500px;
    margin: 100px auto;
}

.login h2, .cadastro h2{
    margin: 10px auto;
    width: 500px;
    text-align: center;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
}

.login div.dados-form, .cadastro div.dados-form{
    text-align: center;
}

.login form, .cadastro form{
    margin: 25px auto;
    list-style-type: none;
}

.login div.button, .cadastro div.button{
    text-align: center;
}

.cadastro form{
    width: 60%;
    padding: 16px;
}

.helptext{
    display: none;
}